/* Site styling */

*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: whitesmoke;
}

h1{
    padding-top: 4rem;
}

a{
    color: black;
    transition-duration: 0.2s;
}

a:hover{
    font-size: larger;
    transition-duration: 0.2s;
}

button{
    color: antiquewhite;
    background-color: black;
    border: 1px solid antiquewhite;
    font-weight: 700;

    transition-duration: 0.2s;
}

button:hover{
    color: black;
    background-color: antiquewhite;
    border-color: black;

    font-size: large;

    transition-duration: 0.2s;
}

.pageHeading {
    width: 100vw;
    height: 80vh;
}

.pageHeading img{
    width: 100%;
    height: 100%;
}

.pageHeading h1{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;

    font-size: 5rem;
    z-index: 2;

    margin: 0%;
    padding: 0%;

    text-decoration: underline;
}


/* Hover colors/color placeholders */

.coral:hover{
    color: coral;
}

.pikured:hover{
    color: rgb(237, 34, 56);
}

.salmon:hover{
    color: #eb5d4a;
}

.lightergreen:hover{
    color: #38cd38;
}

.lighterblue:hover{
    color: #847bff;
}

/* Navbar */

.nav-style{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 10vw;

    border-bottom: 2px solid white;

    font-size: 1.2rem;

    position: fixed;
    top: 0;
    width: 100%;
    height: 3rem;

    z-index: 100;
}

.nav-style a{
    color: inherit;
}

.nav-style ul{
    padding: 1.6rem 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.bigTitle {
    font-size: 1.4rem;
    text-decoration: none;
}

.bigTitle:hover{
    font-size: 1.8rem;
}

.bigTitle span{
    font-size: 2.4rem;
}

/* Jump to top button */

.topButton{
    /* visibility: none; */
    position: fixed;
    /* bottom: -12px; */
    right: 12px;

    height: 60px;
    width: 60px;
   
    border-radius: 50%;

    font-size: 2.4rem;
    
    z-index: 50;

    color: black;
    border: 4px black solid;

    background-color: transparent;
    background-image: url(./siteTexture.png);
}

.topButton:hover{
    font-size: 3rem;
}

/* Footer */
footer{
    width: 70vw;

    margin: 1rem 15vw;

    display: flex;
    flex-direction: row;

    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.footRow{
    display: flex;
    flex-direction: column;
    margin: 1rem 5%;

    width: 40%;

}

.footRow h3{
    font-size: 1.8rem;
    margin: 0;
}

/* Home page styles */

.homePage{
    background-color: rgb(237, 34, 56);
    padding-bottom: 8rem;

    padding-bottom: 2rem;
}

.homeSplash {
    width: 100vw;
    height: 100vh;
}

.homeSplash img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.homeSplash h1{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;

    font-size: 5rem;
    z-index: 2;

    margin: 0%;
    padding: 0%;

    text-decoration: underline;
}

.homeSplash h2{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;

    font-size: 3rem;
    z-index: 2;

    margin: 0%;
    padding: 0%;
}

.homeBox{
    margin: 3rem 15vw;
    width: 70vw;

    background-image: url(./siteTexture.png);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.homeBox img{
    width: 90%;
    height: auto;
    padding-left: 10%;
    padding-top: 1rem;

    object-fit: contain;
}

.homeBox section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem 4rem;
}

.homeBox p{
    width: 60%;
    font-size: 2.2rem;
    padding-left: 5%;
}

.homeBox a{
    margin-right: 5%;
    font-size: 1.5rem;
}

.homeBox a:hover{
    font-size: 1.7rem;
    margin-right: 3%;
    transition-duration: 0.2s;
}

/* writing page */

.writingPage{
    background-color: #38cd38;

    padding-bottom: 2rem;
}

.linkBox{
    border: 3px solid black;
    width: 48vw;
    margin-left: 26vw;
    display: flex;
    flex-direction: row;
    justify-content: center;

    background-image: url(./siteTexture.png);
}

/* 
This CSS is depreciated since I have moved to
using buttons to link inside of pages.

.linkBox a{
    padding: 2rem;
    font-size: 1.4rem;
    text-align: center;
    transition-duration: 0.2s;
}

.linkBox a:hover{
    font-size: 1.6rem;
} */

.linkBox button{
    padding: 1.8rem;
    font-size: 1.4rem;
    text-align: center;
    transition-duration: 0.2s;

    border: none;
    color: black;
    background-color: transparent;
}

.linkBox button:hover{
    font-size: 1.6rem;
    padding: 1.6rem;
    text-decoration: underline;
}

.writingArticle {
    width: 80vw;
    margin: 5rem 10vw;

    border: 1px solid black;
    background-image: url(./siteTexture.png);


    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: rgba(0, 0, 0, 0.500) 10px 5px 5px;
}

.writingArticle button{
    color: black;
    background-color: transparent;
    border: none;

    font-size: larger;
    padding-left: 2.8rem;
}

.writingArticle button:hover{
    font-size: x-large;
    text-decoration: underline;
}

.writingArticle h2{
    padding-left: 2.5rem;
    font-size: 3rem;
}

.writingArticle h3{
    font-size: 1.4rem;
    padding-left: 3rem;
}

.writingArticle p{
    padding: 0 4rem;
}

.writingArticle img{
    width: 80%;
    margin: 0 10%;
}

.reference{
    font-style: italic;
}

/* Design */
.designPage{
    background-color: #847bff;

    padding-bottom: 2rem;
}

.color-overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.500);
    z-index: 2;
}

.crabby {
    z-index: 3;
    position: fixed;
    width: 40vw;
    left: 30vw;
    top: 30vh;

    border: 15px solid black;
}

.designSection{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 90vw;

    margin: 0 5vw;
    gap: 2rem;
}

.sectionImage{
    width: 60vw;
    margin: 1rem 20vw;

    border-radius: 30px;
}

.sectionHeading{
    padding-left: 1rem;
    font-size: 3rem;
    font-weight: 1000;
}

.designArticle {
    width: 48%;

    border: 2px solid black;

    background-image: url(./siteTexture.png);

    padding-top: 2rem;
    padding-bottom: 2rem;

    box-shadow: rgba(0, 0, 0, 0.500) 10px 5px 5px;
}

.designArticle h3{
    padding-left: 3rem;
}

.designArticle h4{
    padding-left: 3.4rem;
}

.designArticle p{
    padding: 0 4rem;
}

.designArticle ul{
    padding: 0 5rem;
}

.designArticle li{
    font-size: medium;
    list-style: disc;
}

.designArticle img{
    width: 80%;
    margin-left: 10%;
}

.wireframes {
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    gap: 3%;
    padding-top: 1rem;
}

.wireframes img{
    width: 33%;
    height: min-content;
    border: 2px solid black;
    transition-duration: 0.2s;
}

.wireframes img:hover{
    width: 50%;
    transition-duration: 0.2s;
}

.wireframeSection{
    width: 90vw;
    margin: 1rem 5vw;

    display: flex;
    flex-wrap: wrap;
    gap: 5%;
}

.wireframeSection h3{
    width: 100%;
    font-size: x-large;
}

.wireframeSection img{
    width: 47%;
    margin: 1rem 0;

    height: min-content;
}

/* About Me */

.aboutPage {
    background-color: coral;
    padding-bottom: 3rem;

    padding-bottom: 2rem;
}

.aboutSplash {
    width: 100vw;
    height: 100vh;
}

.aboutSplash img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.aboutSplash h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;

    font-size: 5rem;
    z-index: 2;

    margin: 0%;
    padding: 0%;

    text-decoration: underline;
}

.aboutSplash h2{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;

    font-size: 3rem;
    z-index: 2;

    margin: 0%;
    padding: 0%;
}

.aboutBody {
    display: flex;
    flex-direction: row;
    padding: 1rem 5vw;
}

.aboutBody article{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutBody img{
    width: 100%;
    border-radius: 12px;
    margin-top: 0.5rem;
}

.aboutBackground{
    background-image: url(./siteTexture.png);
    padding: 1rem;
    margin: 0.1rem;

    border-radius: 20px;
}

.aboutBackground img{
    height: 200px;
    width: auto;
    align-self: center;
}

/* Portfolio */

.portfolioPage{
    background-color: #eb5d4a;
    padding-bottom: 2rem;
}

.portfolioBody{
    width: 90vw;
    margin: 0 5vw;

    display: flex;
    flex-wrap: wrap;

    gap: 1rem;
}
.portfolioBody img{
    width: 24%; 
    border: 5px solid #fef1de;
}

/* Error page */
.errorPage{
    font-size: 4rem;
    width: 100vw;
    text-align: center;
}

/* Reactivity control */

@media (max-width: 900px){
    .linkBox{
        flex-direction: column;
    }

    .designSection{
        flex-direction: column;
    }

    .designArticle{
        width: 100%;
    }

    .writingArticle h2{
        overflow-wrap: break-word;
        width: 90%;
        padding-left: 5%;
    }

    .wireframeSection{
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .wireframeSection img{
        width: 100%;
    }
}

@media (max-width: 600px) {

    .aboutBody{
        flex-direction: column;
    }

    .aboutBody article{
        width: 100%;
    }

    .nav-style{
        display: none;
    }

    footer{
        width: 90vw;
        margin: 1rem 5vw;

        flex-direction: column;
    }

    .homeSplash h2{
        display: none;
    }

 


}
