/* Misc styles */
.topPad{
    margin-top: 4rem;
}

.mobileWarning{
    width: 100vw;

    text-align: center;

    display: none;
}

/* fullscreen style */

.fullScreen{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.500);
    z-index: 3;

    overflow-y: scroll;
}

.fullScreen section{
    width: 80vw;
    
    margin: 3.5rem 10vw;
    padding: 2rem 0;

    background-color: white;
}

.fullScreen section img{
    width: 80%;
    margin-left: 10%;
}

.fullScreen section h2{
    padding-left: 2rem;
}

.fullScreen section p{
    padding: 0 2.5rem;
}

.closeButton{
    position: fixed;

    top: 50px;
    left: 15px;

    color: white;
    font-size: 3rem;

    cursor: pointer;
}

/* Mini box style */
.artSection{
    display: flex;
    flex-direction: row;

    width: 100vw;
    height: 20rem;

    padding: 1rem 0;
}

.artSub{
    width: 50%;

    display: flex;
    flex-direction: row;
}

.artBox{
    width: 40%;
    height: 100%;
    margin: 0 5%;
    background: white;

    border: 1px solid black;

    transition-duration: 0.3s;
}

.artBox:hover{
    width: 20rem;
    height: 20rem;
    z-index: 3;

    transition-duration: 0.3s;
}

.artBox p{
    height: 10%;
    margin: 0 1rem;
}

.artBox img{
    width: 90%;
    height: 70%;
    
    margin: 0 5%;

    object-fit: cover;
    border: 1px solid black;
}

.artBox h2{
    height: 20%;
    margin: 0 2rem;
    font-size: 1.2rem;
}

/* Art section colours */

.orangeIn{
    background-image: linear-gradient(whitesmoke, rgb(253, 142, 51));
}

.pinkIn{
    background-image: linear-gradient(rgb(253, 142, 51), rgb(240, 0, 164));
    height: 23rem;
    padding-top: 5rem;
}

.pink{
    background-color: rgb(240, 0, 164);
}

.blueIn{
    background-image: linear-gradient(rgb(240, 0, 164), rgb(2, 82, 235));
}

.blue{
    background-color: rgb(2, 82, 235);
}

.RSA{
    background-image: url("./wideFlag.jpg");
    align-items: center;
    flex-direction: column;

    background-repeat: no-repeat;
    background-size: cover;
}

.sunset{
    background-image: linear-gradient(coral, whitesmoke);

    background-repeat: no-repeat;
    background-size: cover;

    height: fit-content;
}

/* Day specific styles */

.DSS8{
    transform: rotate(4deg);
}

.DSS11{
    transform: translateY(80px);
}

.DSS13{
    transform: translate(-200px, 3rem);
    height: 9rem;
}

.DSS14{
    transform: translate(-140px);
}

.DSS15{
    border: dotted;
}

.DSS18{
    transform: translate(-12rem);
}

.DSS22{
    transform: translate(25vw);
}

.DSS26{
    background-image: url("./triPaloski.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.DSS27{
    background-color: greenyellow;
}

.DSS29{
    width: 20%;
}

.DSS30{
    height: 18rem;
}

.DSS31{
    width: 100%;
    height: 40vw;
    translate: -25vw;
}

.DSS31:hover{
    width: 100%;
    height: 40vw; 
}

.annoStyle{
    transform: translate(-80px);
}

/* Reactivity specifications */

@media (max-width: 800px) {
    .artSection{
        flex-direction: column;
        height: fit-content;
    }

    .artSub{
        width: 100%;
    }

    .RSA{
        background-image: url(./thinFlag.jpg);
    }

    .mobileWarning{
        display: block;
    }
}